body {
  
    background: url(https://img.freepik.com/free-vector/paper-style-dynamic-lines-background_23-2149008629.jpg?w=996&t=st=1713448525~exp=1713449125~hmac=14e1115ad4c9f7ae6cf75b0aa076080b547af932b81523852a6f363e5fdf969a);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
 
}
html {
               height:100%;
             }
             
             body {
               margin:0;
             }
             
             .bg {
               animation:slide 3s ease-in-out infinite alternate;
               background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
               bottom:0;
               left:-50%;
               opacity:.5;
               position:fixed;
               right:-50%;
               top:0;
               z-index:-1;
             }
             
             .bg2 {
               animation-direction:alternate-reverse;
               animation-duration:4s;
             }
             
             .bg3 {
               animation-duration:5s;
             }
             
             /* .bgcontent {
               background-color:rgba(255,255,255,.8);
               border-radius:.25em;
               box-shadow:0 0 .25em rgba(0,0,0,.25);
               box-sizing:border-box;
               left:50%;
               padding:10vmin;
               position:fixed;
               text-align:center;
               top:50%;
               transform:translate(-50%, -50%);
             } */
             
             h1 {
               font-family:monospace;
             }
             
             @keyframes slide {
               0% {
                 transform:translateX(-25%);
               }
               100% {
                 transform:translateX(25%);
               }
             } 