.footerContainer{
        display: flex;
        flex-direction: row;
        padding: 10px 30px;
        justify-content: center;
      //   background-color: #031f45;
        // div{
              // padding: 0px;
              // margin: 0px 2px 0px 2px;
              // background-color: white; 
        // }       
}